html {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}


/* NAVBAR & HEADER */

.headerStyle {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(88, 100, 136, 0)
  );
  padding: 0.5em;
}

.navbarStyle {
  display: flex;
  width: auto;
  justify-content: space-evenly;
}

.bannerStyle {
  font-family: "VT323", monospace;
  font-size: 1.2em;
  margin: 1em;
  color: white;
  margin-right: 1.56em;
}

.bannerStyle:hover {
  color: rgb(237, 254, 255);
}

.btnStyle {
  font-size: 1.2em;
  font-weight: 550;
  color: rgb(66, 35, 35);
  width: 100%;
  padding: 0.7em;
  margin: 1em;
}
.btnStyle:hover {
  opacity: 0.87;
}

.btnStyle:active {
  transform: translateY(2px);
}

.dropDownStyle {
  border-style: solid;
  border-width: 0.3em;
}

.cartBtn {
  padding-left: 2em;
  padding-top: 1em;
}

.cartBtn:hover {
  cursor: pointer;
}

.cartBtn:active {
  transform: translateY(4px);
}

/* FOOTER */

.footer {
  margin-top: auto;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.footerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1em;

  .left {
    font-family: "VT323", monospace;
    display: flex;
    align-items: center;
    font-size: 1.7em;
    font-weight: bold;
    color: #cbf5ef;
  }

  .right {
    margin-right: 1.5em;
    .stripeImg {
      width: 20em;
    }
  }
}

/* ITEM CARDS */


.shopList {
  margin-right: 33.8em;
}

.card img {
  width: 100%;
  height: 40em;
  object-fit: contain;
}

.priceAndTitle {
  height: 13em;
}

.indivCards {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  margin-bottom: 3em;
}

.cardStyle {
  border-style: ridge;
  border-color: rgb(158, 157, 157);
  margin: 0.7em;
}

.fontStyle {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.prices {
  color: rgb(218, 96, 96);
}

.itemFont {
  font-size: 3.05em;
  padding-top: 0.62em;
  color: rgb(75, 71, 71);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* ITEM PAGE */

.productInfo {
  margin-left: .3em;
}

.itemPageFont {
  font-size: 2em;
  font-family: "Times New Roman", Times, serif;
  inline-size: 21em;
  overflow-wrap: break-word;
}

.imageStyle {
  width: 67em;
  padding-left: 8.5em;
  margin-left: 1.5em;
}

.imageBorder {
  border-style: groove;
  border-color: rgb(37, 16, 16);
}

.itemColumn {
  padding-left: 8.5em;
}

.columnSpacing {
  margin-bottom: 3em;
}

.columnSpacing2 {
  margin-bottom: 1.8em;
}

.sizeSelect {
  width: 5em;
}
.sizeText {
  font-size: 1.15em;
  padding-right: 0.5em;
  color: rgb(39, 39, 39);
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.ref-description {
  border-style: groove;
  border-color: rgb(87, 84, 84);
  background-color: rgb(232, 233, 233);
  border-radius: 7px;
  padding-top: .5em
}

.btnFont {
  font-weight: bold;
  font-size: 1.15em;
}

.incrementBtn {
  margin-top: 0.6em;
}

.addToCartBtn:active {
  transform: translateY(3px);
}


.relatedProducts {
  justify-content: center;
  margin-top: 32em;
  margin-right: 25em;
  margin-left: 20.5em;
}

.relatedCards {
  margin-top: 5em;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  block-size: max-content;
}

.rpTitle {
  font-family: "VT323", monospace;
  border-style: groove;
  border-color: rgb(59, 58, 58);
  background-color: rgb(204, 204, 204);
  border-radius: 7px;
  padding: .2em;
}



/* SHOPPING CART */

.cart {
  font-family: "VT323", monospace;
  position: absolute;
  padding: auto;
  height: 100%;
  right: 1px;
  top: 10px;
  z-index: 999;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-top: solid;
  border-left: solid;
  border-bottom: solid;
  border-width: 0.8em;
  border-radius: 0.3em;
  border-color: rgb(231, 184, 161);
  background-color: grey;
  opacity: 0.95;

  animation-duration: 1.5s;
  animation-name: slidein;
}

.xBtn {
  position: relative;
  font-size: 0.6em;
  margin-top: 1.5em;
}

@keyframes slidein {
  from {
    margin-left: 80%;
  }
  to {
    margin-left: 60%;
  }
}

.cart h1 {
  font-size: 3em;
  font-weight: 510;
  margin: 1em;
}

.cartContent {
  overflow-y: auto;
}

.cartItem {
  margin-bottom: 2em;
}

.cartItem img {
  width: 17em;
  height: 25em;
  border-style: ridge;
  border-color: black;
}

.cart button {
  width: 20em;
  height: 3em;
  font-weight: bold;
}

.cart button:hover {
  opacity: 0.87;
}

.details {
  margin-top: 1.5em;
}

.price {
  font-size: 2em;
  color: rgba(87, 27, 27, 0.856);
}

.total {
  margin: 2em;
  box-sizing: border-box;
}

.total h4 {
  color: rgba(87, 27, 27, 0.856);
}

.cartButton {
  margin: 2em;
}

.btnMargin {
  margin: 1em;
}

.emptyText {
  
  font-size: 4em;
  font-weight: 510;
  margin: 1.5em;
}

.cartAmount {
  font-size: 1.1em;
  color: rgb(230, 100, 100);
}

/* SUB CATEGORIES PAGE */

.sub_categories {
  margin-left: 30.3em;
  display: flex;
  flex-direction: row;
  width: 93.75em;
  padding-left: 1em;
  padding-right: 1em;
}

/* HOMEPAGE */

.slider {
  right: .97em;
  margin-top: 5em;
  margin-bottom: 10em;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.sliderContainer {
  width: 300vw;
  display: flex;
  transition: all 1s ease;

  img{
    
    width: 33.33vw;
    height: 50em;
    object-fit: contain;
  }
}

.icons {
  
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 250px;
  margin: auto;
}

.icon img{
  height: 6em;
  width: 6em;
}

.icon img:hover {
  cursor: pointer
}

.icon img:active {
  transform: translateY(4px);
}

.featuredContainer {
  margin-right: 34.6em;
}


// VIDEO PLAYER

.videoContainer {
  margin-top: 23em;
  margin-bottom: 5em;
  position: relative;
  right: 30.15em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.playerWrapper {
  position: relative;

}

.player {
  border: 3px ridge;
  border-color: rgb(86, 102, 104);
  object-fit: cover;
  padding: 0;
  margin: 0;
}


/* FEATURED SECTION */

.featuredTitle {
  font-family: "VT323", monospace;
  border-style: groove;
  border-color: rgb(87, 84, 84);
  background-color: rgb(232, 233, 233);
  border-radius: 7px;
  padding-top: .5em;
  position: absolute;
  z-index: 2;
  left: 15em;
  top: 86em;

}


// PAGINATION
.pagination {
  position: relative;
  top: 245%;
  left: 32.15em;
  margin-bottom: 2em;
}

.paginationBtn button {
  font-weight: 600;
  padding: 1em;
  margin-right: .5em;
}

.paginationBtn button.active{
  font-weight: 900;
  border-color: black;
  background-color: beige;
  color: orange;
}

.rpPagination {
  position: relative;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.rpPaginationBtn button {
  font-weight: 600;
  padding: 1em;
  margin-right: .5em;
}

.rpPaginationBtn button.active{
  font-weight: 900;
  border-color: black;
  background-color: beige;
  color: orange;
}